language: perl
perl:
  - "5.18"
  - "5.16"
  - "5.14"
  - "5.12"
  - "5.10"
env:
  - "HARNESS_OPTIONS=j9 TEST_EV=1 TEST_POD=1"
install:
  - "cpanm -n EV Test::Pod Test::Pod::Coverage"
  - "cpanm -n --installdeps ."
notifications:
  email: false
  irc:
    on_success: change
    on_failure: always
    channels:
      - "irc.perl.org#mojo"
